html {
    background-color: #CB997E;
    }
    h1{
    color: #D3D3D3;
    }
    
    h3 {
    color: #D3D3D3;
    }
    
    main {
    font-family: Arial, Helvetica, sans-serif;
    color: #161A1D;
    line-height: 20px;
    }
    
    footer {
    color: #D3D3D3;
    font-family: sans-serif;
    margin: 25px 50px 50px;
    padding: 25px 25px 25px;
    text-align: center;
    }
    header {
    background-color: #A5A58D;
    font-family: impact;
    }
    
    p {
    font-family: Comic Sans MS;
    }